<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Liste of Employees</title>
</head>
<body>
<div sec:authorize="hasRole('Manager') or hasRole('TechLead')">

<div class="container text-center">
    <div class="row justify-content-center">
        <div class="col-12 border border-primary rounded p-3">
            <div>
                <h1 th:text="${'Employee List'}"></h1>
            </div>
            <br/>
            <hr/><br/>
            <form th:action="@{/employees}" method="post">
                <div>
                    <a th:href="@{/addEmployee}">Add Employee</a>
                    <span> | </span>
                    <a th:href="@{/affectation}">Back To Home</a>
                </div>
                <table class="table table-striped" style="width:100%!important;">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Post</th>
                        <th>Skill</th>
                        <th>Projects</th>
                        <th>Action</th>
                    </tr>
                    <tr th:each="employee : ${employeesList}">
                        <td th:text="${employee.id}"></td>
                        <td th:text="${employee.name}"></td>
                        <td th:text="${employee.email}"></td>
                        <td th:text="${employee.post.name()}"></td>
                        <td>
                            <span th:each="skill : ${employee.skills}" th:text="${skill.skill}"></span>
                        </td>
                        <td>
                            <span th:each="project : ${employee.employeeProjects}" th:text="${project.project.name} + ' (' + ${project.charge} + '%)'"></span>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-danger text-center" th:onclick="'window.location.href=\'/delete/' + ${employee.id} + '\''">Remove</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>